/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --c-link: #1976D2;
  --c-link-light: #9cdcfe;
  --c-link-dark: #186dc2;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-off-white: #f4f4f4;
  --color-shadow-blue: #ebf4fe;
  --color-lightest-grey: #f2f2f2;
  --color-shade: rgb(234, 234, 235);
  --color-shade-light: #c2c2c2;
  --color-shade-med: rgb(126, 126, 126);
  --color-shade-dark: rgb(60, 60, 60);
  /* --color-link-dark: #186dc2;
  --color-link: #1976D2; */
  --color-link: var(--c-link);
  --color-link-dark: var(--c-link-dark);
  --color-search-light: #f5f5f5;
  --color-search-dark: #888;

  --color-search-background: var(--color-search-light);
  --color-search-icon: var(--color-search-dark);
  --color-search-text: black;
  --color-header-text-background: var(--color-off-white);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
   :root {
      --color-background: var(--vt-c-black);
      --color-background-soft: var(--vt-c-black-soft);
      --color-background-mute: var(--vt-c-black-mute);
      --color-border: var(--vt-c-divider-dark-2);
      --color-border-hover: var(--vt-c-divider-dark-1);
      --color-heading: var(--vt-c-text-dark-1);
      --color-text: var(--vt-c-text-dark-2);
      --color-link: var(--c-link-light);
      --color-search-background: var(--color-search-dark);
      --color-search-icon: var(--color-search-light);
      --color-search-text: var(--color-search-light);
      --color-header-text-background: var(--color-lightest-grey);
   }
}

.dark {
   --color-background: var(--vt-c-black);
   --color-background-soft: var(--vt-c-black-soft);
   --color-background-mute: var(--vt-c-black-mute);
   --color-border: var(--vt-c-divider-dark-2);
   --color-border-hover: var(--vt-c-divider-dark-1);
   --color-heading: var(--vt-c-text-dark-1);
   --color-text: var(--vt-c-text-dark-2);
   --color-link: var(--c-link-light);
   --color-search-background: var(--color-search-dark);
   --color-search-icon: var(--color-search-light);
   --color-search-text: var(--color-search-light);
   --color-header-text-background: var(--color-lightest-grey);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  width: 100%;
  height: 100%;
  /* height: 100vh;
  width: 100vw; */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents outer body bounce-scrolling on iOS */
}

body {
  /* min-height: 100vh; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
